body {
    margin: 0;
    font-family: 'BIZ UDMincho', serif;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    height: 100%;
}

nav {
    display: flex;
    grid-area: nav;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1% 0% 1% 0%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav>a {
    color: white;
    text-decoration: none;
    padding: 0% 3% 0% 3%;
}

main {
    grid-area: main;
}

/*Section HOME*/
#section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
}

/*Title*/
#title {
    color: black;
    text-align: center;
    position: relative;
    top: 150px;
}

#title>h1 {
    font-size: 3em;
}

#title>h2 {
    padding-top: 20px;
}

/*Intro*/
#intro {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 1.1em;
    position: relative;
    top: 170px;
    padding: 0% 3% 0% 3%;
}

#intro>p {
    margin: 10;
}

/*SKILLS*/
#section-skills {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: black;
}

#section-skills>div {
    text-align: center;
}

#section-skills>div>p {
    display: inline-block;
    padding: 0px 50px 0px 0px;
}


/*PROJECTS*/

#section-projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

#section-projects>h1,h2 {
    margin: 0;
    padding-top: 60px;
}

#project-cards {
    padding: 30px 0px 0px 0px;
}

.card {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
}

.card>a>img {
    height: 300px;
    transition: transform .2s;
    border: black 1px solid;
}

.card>a>img:hover {
    transform: scale(1.05);
}

/*Contact*/

#section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#section-contact>h1 {
    margin: 0;
    padding: 60px 0px 20px 0px;
}

#section-contact>p:nth-child(3) {
    padding-bottom: 20px;
}

#section-contact>a {
    background-color: black;
    padding: 20px;
    margin-bottom: 60px;
    text-decoration: none;
    border-radius: 25px;
}

#section-contact>a:link {
    color: white;
}

#section-contact>a:hover {
    transform: scale(1.05);
}

/*FOOTER*/

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer>p {
    color: white;
}

/*HR*/

hr {
    width: 80%;
    border-top: 2px solid black;
}

/* Tablet */
@media screen and (max-width: 900px) {
    .card {
        margin-bottom: 50px;
    }

    #section-projects> h2 {
        padding-top: 0px;
    }
}