/*Header*/

.header {
  background-color: #333;
  overflow: hidden;
  
}

.header a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navigation > a {
  display: block;
}

.header a:hover {
  color: pink;
}

.header a.active {
  color: white;
}

/* Icon */
.icon {
  height: 28px;
}

/*Positioning*/
.float-right {
  float: right !important;
}

/*Mobile*/
@media (max-width:720px) {
  .navigation a {
    clear: both;
  }
  .navigation > a {
    background-color:lightslategrey;
    width: 100%;
  }
  .navigation > a:hover {
    color: white;
    background-color: darkslategrey;
  }
}